<table class="admin-table" *ngIf="credentials?.length">
  <thead>
    <tr>
      <th>标签</th>
      <th>Key</th>
      <th>最后使用</th>
      <th>IP</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let credential of credentials">
      <td> <span class="label ellipsis" [smTooltip]="credential.label" smShowTooltipIfEllipsis>{{credential.label}}</span></td>
      <td>{{credential.access_key}}</td>
      <td class="pe-3">{{credential?.last_used ? (credential.last_used |  date : timeFormatString): '未使用'}}</td>
      <td>{{credential?.last_used_from ? credential?.last_used_from : '无法使用'}}</td>
      <td class="actions d-flex-center">
        <div class="action-button me-4" (click)="editLabel(credential)" type="button" smTooltip="编辑标签">
          <i class="al-icon sm-md  m-auto" [ngClass]="icons.EDIT"></i>
        </div>
          <div class="action-button" (click)="confirmPopUp(credential)" type="button" smTooltip="删除">
            <i class="al-icon sm-md  m-auto" [ngClass]="icons.REMOVE"></i>
          </div>
      </td>
    </tr>
  </tbody>
</table>

