<div class="title">应用证书 <i
  class="fas fa-info-circle info"
  smTooltip="提供API访问此工作区间的凭据"
  matTooltipPosition="above"></i>
</div>
<div class="section mb-4" *ngFor="let cred of credentials$ | async | keyvalue">
  <sm-admin-credential-table
    [credentials]="cred?.value"
    (updateCredentialLabel)="updateLabel($event)"
    (credentialRevoked)="onCredentialRevoked($event)"
  ></sm-admin-credential-table>
  <span
    class="add-button d-flex align-items-center pointer"
    [class.disabled]="creatingCredentials"
    (click)="createCredential()"><i class="al-icon sm al-ico-plus me-1"></i> 创建新证书
  </span>
</div>
